body, #Tallmonitor, #Waymonitor, #littlemonitor {
  margin: 0;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: green;
}

@media screen and (max-width:1500px) {
  #container {
    background-color: green;
  }

  #Tallmonitor {
    font-size: 50px;
  }

  #Waymonitor, #littlemonitor {
    color: green;
  }
}

@media screen and (max-width:850px) {
  #container {
    background-color: orange;
  }

  #Waymonitor {
    color: black;
    font-size: 25px;
  }

  #Tallmonitor, #littlemonitor {
    color: orange;
} }

@media screen and (max-width:600px) {
  #container {
    background-color: red;
  }
 #littlemonitor {
    color: black;
    font-size: 10px;
  }

  #Tallmonitor, #Waymonitor {
    color: red;
  }
  }
